<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484779040551-ook1mios19s44k1ee5vff419q459read.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484779040551-ook1mios19s44k1ee5vff419q459read</string>
	<key>API_KEY</key>
	<string>AIzaSyBSZIxeSErRiROSYiqEKOwAJAhPhPlZjQI</string>
	<key>GCM_SENDER_ID</key>
	<string>484779040551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sn.jayma.delivery</string>
	<key>PROJECT_ID</key>
	<string>jayma-88682</string>
	<key>STORAGE_BUCKET</key>
	<string>jayma-88682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484779040551:ios:d528a95d7b9ebb7f341302</string>
	<key>DATABASE_URL</key>
	<string>https://jayma-88682-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>